* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Tahoma, sans-serif;
    background-color: #f4f4f4;
}

h1{
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 1180px;
    margin: 0 auto;
}

main > section{
    margin-bottom: 4rem;

    h2 {
        margin-bottom: 1.5rem;
        font-family: cursive;
    }
}
