#scroll-drag .container{
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#scroll-drag .carousel {
    padding: 1rem 0 0 1rem;
    display: grid;
    grid-template-columns: repeat(10, 85%);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
}

#scroll-drag .active {
    /* smooth drag effect */
    scroll-snap-type: unset;
}

#scroll-drag .slide {
    scroll-snap-align: center;
    display: inline-block;
    border-radius: 12px;
    font-size: 0;
    width: 100%;
    max-height: 85%;
    aspect-ratio: 3/2;
    /* cursor: pointer; */
    background-size: cover;
    background-position: center;
}

#scroll-drag .active .slide{
    cursor: grab;
}