#belt .container{
    width: 100%;
    height: 200px;
    background-color: black;
    overflow: hidden;
}

#belt .carousel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: auto-scroll 60s linear infinite;
}

#belt img {
    margin: 0 2rem;
    height: 50%;
    width: auto;
}

@keyframes auto-scroll{
    0% { transform:translateX(0) };
    100% { transform:translateX(-155.3%) };
}