#slider {
    .carousel,
    .slider-arrow,
    .slider-container{
        display:flex;
        align-items: center;
    }

    .slider-arrow span {
        font-size: 1.2rem;
        margin: 0 .5rem;
        cursor: pointer;
    }

    .carousel{
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .slider-container{
        width: 900px;
        height: 450px;
    }

    .slider-container img{
        width: 100%;
        height: 100%;
        display: none;
        object-fit: cover;
        border-radius: 12px;
    }

    .slider-container img.active{
        display: block;
    }

    .dots-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dot{
        margin: 0 .5rem;
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: black;
        cursor: pointer;

        &.active{
            background-color: #11c3f5;
        }
    }
}