#slider .carousel,
#slider .slider-arrow,
#slider .slider-container{
    display:flex;
    align-items: center;
}

#slider .slider-arrow span {
    font-size: 1.2rem;
    margin: 0 .5rem;
    cursor: pointer;
}

#slider .carousel{
    justify-content: center;
    margin-bottom: 1.5rem;
}

#slider .slider-container{
    width: 900px;
    height: 450px;
}

#slider .slider-container img{
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    border-radius: 12px;
}

#slider .slider-container img.active{
    display: block;
}

#slider .dots-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider .dot{
    margin: 0 .5rem;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

#slider .dot.active{
    background-color: #11c3f5;
}