#sequence{
    --container-width: 1000px;
}

#sequence .carousel,
#sequence .carousel-arrow,
#sequence .slides-container{
    display:flex;
    align-items: center;
}

#sequence .prev,
#sequence .next {
    position: absolute;
    top: 0;
    height: 100%;
}

#sequence .prev {
    left: 0;
}

#sequence .next {
    right: 0;
}

#sequence .carousel-arrow span {
    font-size: 1.2rem;
    margin: 0 .5rem;
    cursor: pointer;
    background-color: white;
    padding: .5rem;
    border-radius: 8px;
}

#sequence .carousel{
    justify-content: center;
    margin-bottom: 1.5rem;
    width: var(--container-width);
    margin: 0 auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    position: relative;
}

#sequence .carousel::-webkit-scrollbar {
    height: 0;
}

#sequence .slides-container{
    width: 100%;
    overflow: auto;
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
}

#sequence .slides-container img{
    width: calc(var(--container-width) / 3.5);
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 12px;
}

#sequence .slides-container img:last-child{
    margin-right: calc(var(--container-width) - (var(--container-width) / 3.5));
}
