#sequence{
    --container-width: 1080px;
    --gap: 16px;
    --slides-number: 4;
}

#sequence .carousel,
#sequence .carousel-arrow,
#sequence .slides-container{
    display:flex;
    align-items: center;
}

#sequence .prev,
#sequence .next {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
}

#sequence .prev {
    left: 25px;
}

#sequence .next {
    right: 25px;
}

#sequence .carousel-arrow span {
    font-size: 1.2rem;
    margin: 0 .5rem;
    cursor: pointer;
    color: white;
    opacity: .5;
}

#sequence .carousel-arrow span:hover{
    opacity: 1;
    scale: 1.5;
}

#sequence .carousel{
    justify-content: center;
    margin-bottom: 1.5rem;
    width: var(--container-width);
    scroll-behavior: smooth;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    position: relative;
    transform: translateX(-(calc(calc((var(--container-width) - var(--gap) * var(--slides-number)) / var(--slides-number)) / 2)));
}

#sequence .carousel::-webkit-scrollbar {
    height: 0;
}

#sequence .slides-container{
    width: 95%;
    overflow: auto;
    display: grid;
    grid-gap: var(--gap);
    grid-auto-flow: column;
    
}

#sequence .slide{
    width: calc((var(--container-width) - var(--gap) * var(--slides-number)) / var(--slides-number));
    aspect-ratio: 3/2;
    border-radius: 12px;
    position: relative;
}

#sequence .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

#sequence .slide:first-child{
    /* margin-left: slide-width / 2 */
    margin-left: calc(calc((var(--container-width) - var(--gap) * var(--slides-number)) / var(--slides-number)) / 2);
}

#sequence .overlay{
    position: absolute;
    top: 0;
    height: 98.5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}
